{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title_block %}Find Friends{% endblock title_block %}
{% block body_block %}
    
    <center>
        <div class="container">
            {% for friend in friends %}
                <div class="row">
                    <div class="col-sm-2">
                        {% if friend.user_profile.profile_pic %}
                            <a href="{% url 'App_Login:profile' %}" class="nav-link"><img src="/media/{{friend.user_profile.profile_pic}}" width="75px" height="75px" class="rounded-circle"></a>
                        {% else %}
                            <a href="{% url 'App_Login:profile' %}" class="nav-link"><img src="/media/menuser.jpg" width="75px" height="75px" class="rounded-circle"></a>
                        {% endif %}
                    </div>
                    <div class="col-sm-10">
                        <a href="{% url 'App_Login:user' username=friend.username %}">{{ friend.username }}</a>
                        <br>
                        {{ friend.user_profile.full_name }}
                        <br>
                    </div>
                </div>
                
            {% endfor %}
        </div>
    </center>
{% endblock body_block %}